$breakpoints: (
  'mobile': 'max-width: 767px',
  'tablet': 'max-width: 1023px',
  'pc': 'max-width: 1279px',
) !default;

@mixin media($type) {
  @media (#{map-get($breakpoints, $type)}) {
    @content;
  }
}

@mixin container() {
  max-width: 1280px;
  margin: 0 auto;
  padding: {
    left: 20px;
    right: 20px;
  };

  @include media('mobile') {
    padding: {
      left: 16px;
      right: 16px;
    };
  }
}
