@import "_settings";

:root {
  --Blue1: #46A6FF;
  --Blue2: #91CAFF;
  --Blue3: #3784CC;
  --Blue4: #225380;
  --Blue5: #496580;
  --GrayStroke1: #CFCFCF;
  --Gray2: #A4A4A4;
  --Gray3: #767676;
  --Gray4: #767676;
  --Gra5: #414141;
  --textColor: #ECECEC;
  --inputColor: #EBEBEB;
  --BlackBG2: #282828;
  --MainBlackBG: #1E1E1E;
}

* {
  box-sizing: border-box;
}

body {
  background: #1E1E1E;
  color: #ECECEC;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.apr-container {
  @include container();
}

h1, .apr-h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
}

h2, .apr-h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
}

h3, .apr-h3 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
}

h4, .apr-h4 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.apr-t4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.apr-t3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.apr-t2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.apr-t1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}

a {
  text-decoration: underline;
  color: #91CAFF;
  transition: color 0.2s ease;

  &:hover {
    color: #B3DAFF;
  }

  &:active {
    color: #3784CC;
  }

  &[aria-disabled="true"] {
    color: #A4A4A4;
    pointer-events: none;
  }

  &[aria-invalid="true"] {
    color: #EC6060;
  }
}

.apr-select,
.apr-input {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background: transparent;
  color: #FFFFFF;
  border: 1px solid;
  outline: none;
  padding: 20px 40px;
  transition: border-color 0.2s ease;

  @include media('mobile') {
    font-size: 12px;
  }

  &::placeholder {
    color: currentColor;
    opacity: 1;
  }

  &:hover {
    border-color: #91CAFF;
  }

  &:focus {
    border-color: #3784CC;
  }

  &:disabled {
    color: #A4A4A4;
    border-color: currentColor;
  }

  &[aria-invalid="true"] {
    color: #EC6060;
    border-color: currentColor;
  }
}

.apr-select {
  padding: 19px 39px;

  option {
    background: #1E1E1E;
    color: #FFFFFF;
  }
}

.apr-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px 40px;

  @include media('mobile') {
    font-size: 14px;
  }

  &:disabled {
    pointer-events: none;
  }

  &[type="submit"] {
    color: #FFFFFF;
    background: #46A6FF;
    transition: background 0.2s ease;

    &:hover {
      background: #77BDFF;
    }

    &:focus {
      background: #3784CC;
    }

    &:disabled {
      background: #A4A4A4;
    }

    &[aria-invalid="true"] {
      background: #EC6060;
    }
  }

  &[type="button"] {
    background: transparent;
    color: #46A6FF;
    padding: 19px 39px;
    border: 1px solid;
    transition: all 0.2s ease;

    &:hover {
      color: #77BDFF;
    }

    &:active {
      color: #3784CC;
    }

    &:disabled,
    &[aria-disabled="true"] {
      color: #A4A4A4;
    }

    &[aria-invalid="true"] {
      color: #EC6060;
    }
  }

  &.apr-request {
    min-width: 210px;
    padding: 14px;
  }

  &.apr-pay {
    min-width: 230px;
    padding: 14px;
    color: #FFFFFF;
    border-color: #A4A4A4;

    &:hover {
      border-color: currentColor;
    }

    &:active {
      border-color: currentColor;
    }
  }
}

.apr-menu {
  &, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.apr-menu-item {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  color: #EBEBEB;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid;
  }

  &:hover {
    color: #46A6FF;

    &::after {
      width: 100%;
      transition: width 0.5s ease;
    }
  }
}

.apr-address {
  color: #ECECEC;
  text-decoration: none;
  display: flex;
  white-space: nowrap;

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 10px;
    width: 18px;
    height: 22px;
    background: url("../img/point.svg") 0 0 no-repeat;
  }
}

.apr-mail {
  color: #ECECEC;
  text-decoration: none;
  display: flex;

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background: url("../img/at.svg") 0 0 no-repeat;
  }
}

.apr-phone {
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;
}

.apr-social {
  font-size: 0;
  line-height: 0;
  opacity: 0.8;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }

  &[href^="//vk.com/"] {
    background: url("../img/vk.svg") 0 0 no-repeat;
    display: inline-block;
    width: 31px;
    height: 31px;
  }

  &[href^="//youtube.com/"] {
    background: url("../img/yt.svg") 0 0 no-repeat;
    display: inline-block;
    width: 34px;
    height: 27px;
  }
}

.swiper {
  --swiper-theme-color: #46A6FF;

  &-button {
    &-next, &-prev {
      --swiper-navigation-size: 36px;
      font-family: Arial, serif;
      width: 83px;
      height: 45px;
      border: 1px solid var(--swiper-theme-color);
      outline: none;
      display: inline-flex;
      align-items: flex-start;
      transition: all 0.2s ease;

      &:hover {
        background: var(--swiper-theme-color);
        color: #FFFFFF;
      }

      &.swiper-button-disabled {
        opacity: 1;
        cursor: auto;
        pointer-events: auto;
      }
    }

    &-prev::after {
      content: '←';
    }

    &-next::after {
      content: '→';
    }
  }

  &-pagination {
    --swiper-pagination-color: #91CAFF;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &-bullet {
      border-radius: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--swiper-pagination-color);
      background: transparent;
      border: 1px solid;
      opacity: 1;
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap);
      transition: color 0.2s ease;

      &:hover {
        --swiper-pagination-color: #46A6FF;
      }

      &-active {
        --swiper-pagination-color: #46A6FF;
        --swiper-pagination-bullet-size: 19px;
        background: currentColor;
      }
    }
  }
}

.apr-swiper {
  max-width: 500px;
  @include selectNone;
}
