$breakpoints: (
  'mobile': 'max-width: 767px',
  'tablet': 'max-width: 1023px',
  'pc': 'max-width: 1279px',
) !default;

@mixin media($type) {
  @media (#{map-get($breakpoints, $type)}) {
    @content;
  }
}

@mixin font($type) {
  @if $type == h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
  } @else if $type == h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
  } @else if $type == h3 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
  } @else if $type == h4 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  } @else if $type == t4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  } @else if $type == t3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  } @else if $type == t2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  } @else if $type == t1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  } @else {
    @error 'Unknown direction #{$type}.';
  }
}

@mixin container() {
  max-width: 1320px;
  margin: 0 auto;
  padding: {
    left: 20px;
    right: 20px;
  };

  @include media('tablet') {
    max-width: 768px;
  }

  @include media('mobile') {
    padding: {
      left: 16px;
      right: 16px;
    };
  }
}
